
@{
    ViewBag.Title = "filtrarVentas";
}

<h2>Ventas del Dia </h2>

@using (Html.BeginForm("filtrarVentas", "Alquileres"))
{
    <table class="table table-bordered table-striped">

        <tr>
            <td>
                Ventas del dia:@Html.TextBox("datoBuscar")
            </td>
            <td>
                <input style="text-align:right" type="submit" name="name" value="Buscar" />
            </td>
        </tr>
    </table>

}

<table class="table table-bordered table-striped">
    <tr>
        <th>Juego</th>
        <th>Cliente</th>
        <th>Identificacion</th>
        <th>Fecha del alquiler</th>
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][0]</td>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
        </tr>
    }

</table>