
@{
    ViewBag.Title = "RegistrarAlquiler";
}

<!DOCTYPE html>

<html>
<head>
    <title>VideoJuegos</title>


</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Registrar Nuevo Alquiler</h3>
                </div>

                <div class="card-body">
                    <!--Metodo a ejecutar-->
                    <form action="@Url.Action("RegistrarAlquiler","Alquileres")" method="post">

                        <!--Campos de escritura-->
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="IdCliente" class="form-control" placeholder="Identificacion del Cliente">
                        </div>


                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="NombreJuego" class="form-control" placeholder="Nombre del Juego">
                        </div>

                        <!--Lanzador de alerta-->
                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewData["Mensaje"]
                            </div>

                        }

                        <!--Buttons-->
                        <div class="form-group">
                            <input type="submit" value="Registrar" class="btn float-right login_btn">
                        </div>
                        <div class="form-group">
                            <input type="reset" value="Borrar" class="btn float-left cancel_btn">
                        </div>

                    </form>

                </div>

            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    <a href="@Url.Action("Listarjuegos","Juegos")">Ver lista de Juegos</a>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    <a href="@Url.Action("listaAlquileres","Alquileres")">Alquileres Hechos</a>
                </div>
            </div>
        </div>
    </div>


    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
